<div style = "float:right; margin-right:250px">
 <h1>Book your ride here !!</h1>

 <fieldset>
<legend> <b> Booking Details </b>  </legend>
<%= form_for @booking ,url: { action: :create } do |f|%>


   <% location_array1 = Location.where(rider_id: 3).map { |location| [location.location_name]}%> 
 <% location_array2 = Location.where(rider_id: current_user.userable.id).map{ |location| [location.location_name]} %>
 <% location_array = location_array1 | location_array2 %>




    <%if location_array.length != 0%>
    <%=f.label :from_location_name, "From : "%>
    <br>
    <%=f.select :from_location_name , location_array , class: "form-control" , required: true%>
    <%end%>


    <br> 

    <p> If your location is not there yet , then add it manually here <%= link_to "Add a location",  new_location_path , class: "btn btn-secondary btn-sm"%></p>


    <%=f.label :city , "City : "%>
    <%=f.text_field :city , class: "form-control" , required: true%>

    <br>

    
 <% location_array1 = Location.where(rider_id: 3).map { |location| [location.location_name]}%> 
 <% location_array2 = Location.where(rider_id: current_user.userable.id).map{ |location| [location.location_name]} %>
 <% location_array = location_array1 | location_array2 %>


    <%if location_array.length != 0%>
    <%=f.label :to_location_name , "To : "%>
    <br>
    <%=f.select :to_location_name , location_array , class: "form-control" , required: true%>
    <%end%>

    <br>
   
   <p> If your location is not there yet , then add it manually here <%= link_to "Add a location",  new_location_path , class: "btn btn-secondary btn-sm"%></p>
    
    <br>

    <%=f.label :vehicle_type , "Vehicle : "%>
    <%vehicle_type_array = ["Bike" ,"Auto" ,  "Mini-Car" , "Sedan-Car" , "SUV-Car"]%>
    <%=f.select :vehicle_type , vehicle_type_array , class: "form-control" , required: true%>

    <br> <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>
 

