

 <div style = "float:left;width:10px;height:10px;">
  <img src = "<%=image_path('Mobile-login.jpg')%>" width=950px height = 750px style = "position:fixed;">
</div> 




<div style="float:right;margin-right:200px;" >
<h2 class = "display-6 lead">SIGN UP</h2>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
  <fieldset>
  <h1 class = "display-7 lead"><b>CREDENTIALS</b></h1>
  <br>
  

   <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">


  <div class="field">
    <%= f.label :email , class: "display-8 lead"%> <span class = "red_star">*</span> <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" , required: true %>
  </div>
  <br>

  <div class="field">
    <%= f.label :password , class: "display-8 lead"%> <span class = "red_star">*</span> 
    <% if @minimum_password_length %>
    <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: "form-control" , required: true , placeholder: "#{@minimum_password_length} CHARACTERS MINIMUM" %>
  </div>
  <br>

  <div class="field">
    <%= f.label :password_confirmation , class: "display-8 lead"%> <span class = "red_star">*</span>  <br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control" ,  required: true , placeholder: "#{@minimum_password_length} CHARACTERS MINIMUM"%>
  </div>
  <br>

  <div class="field">
    <%= f.label :role , class: "display-8 lead"%> <span class = "red_star">*</span>  <br />
    <%
=begin%>
 <%=  f.select :role , , class: "form-control", required: true %> 
<%
=end%>
     <%= f.select :role, options_for_select([['Driver','Driver'],['Rider','Rider']]), { include_blank: 'Select'}, {class: "form-select shadow shadow-sm ", required: true , id: "role" , onchange: "drop()"}  %>
  </div>
    <h1> <%= %><h1>

     </div>
     </div>

  </fieldset>

  <br>
  <br>


  <!--Personal Details-->
  <fieldset>
  <h1 class = "display-7 lead"><b>PERSONAL DETAILS</b></h1>
  <br>

   <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">

  <%= fields_for :details do |d| %>
  <div class="field">
    <%= d.label :name , class: "display-8 lead"%> <span class = "red_star">*</span>  <br />
    <%= d.text_field :name, autocomplete: "name" , class: "form-control", required: true %>
  </div>
  <br>

  <div class = "field">
    <%= d.label :age , class: "display-8 lead"%> <span class = "red_star">*</span>  <br />
    <%= d.number_field :age, autocomplete: "email" , class: "form-control" , required: true %>
  </div>
  <br>

  <div class = "field">
    <%= d.label :mobile_no , class: "display-8 lead"%> <span class = "red_star">*</span>  <br />
    <%= d.text_field :mobile_no, autocomplete: "email" , class: "form-control" , required: true %>
  </div>
  <br>

  <%end%>

  </div>
  </div>


  </fieldset>

  <br><br>


  <!--Address Details-->
  <fieldset>
   <h1 class = "display-7 lead"><b>ADDRESS</b></h1>
   <br>
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
  <%= fields_for :address do |a| %>
      
      <%=a.label :door_no , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
      <%=a.text_field :door_no , class: "form-control" , required: true %>
      <br>


      <%=a.label :street , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
      <%=a.text_field :street,  class: "form-control"  , required: true %>
      <br>

      <%=a.label :city , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
      <%=a.text_field :city ,  class: "form-control"  , required: true %>
      <br>


      <%=a.label :district, class: "display-8 lead" %> <span class = "red_star">*</span>  <br>
      <%=a.text_field :district  ,  class: "form-control" , required: true %>
      <br>

      <%=a.label :state , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
      <%=a.text_field :state  ,  class: "form-control" , required: true %>
      <br>

      <%=a.label :pincode , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
      <%=a.number_field :pincode ,  class: "form-control" , required: true %>
      <br>

  <%end%>
  </div>
  </div>
  </fieldset>

  <br><br>


  <!--Vehicle Details With Liscense Number-->
  <div id = "driver_details">
  <fieldset>
   <h1 class = "display-7 lead"><b>DRIVER DETAILS</b>(Only if you are a driver)</h1>
   <br>
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
  <%= fields_for :driver_details do |dd|%>
    <%=dd.label :liscense_no , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
    <%=dd.text_field :liscense_no ,  class: "form-control" %>
    <br>

    <div class="field">
   <b> <%= f.label :liscense_image , "Attach your liscense" , class: "display-8 lead"%> <span class = "red_star">*</span>  </b> <br><br>
    <%= f.file_field :liscense_image %>
  </div>

  <%end%>
  </div></div>

  </fieldset>
  </div>

  <br> <br>

  <div id = "rider_details">

    <fieldset>
  <h1 class = "display-7 lead"><b>RIDER DETAILS</b>(Only if you are a rider)</h1>
  <br>
   <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
  <%=fields_for :rider_details do |rd|%>
    <%=rd.label :gender , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
    

    <%gender_type_array = ["Male" ,"Female"]%>
  <%
=begin%>
 <%=rd.select :gender , gender_type_array , class: "form-control"%> 
<%
=end%>
  <%= rd.select :gender, options_for_select(gender_type_array), { :multiple => false, include_blank: 'Select'}, {class: "form-select shadow shadow-sm "}  %>
    <br>

    <%=rd.label :aadhar_no , class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
    <%=rd.text_field :aadhar_no ,  class: "form-control" %>

    <br>

    <div class = "field">
    <b><%= rd.label :aadhar_card_image , "Attach your aadhar" , class: "display-8 lead"%></b> <span class = "red_star">*</span>  <br> <br> 
    <%= rd.file_field :aadhar_card_image%>
    </div>

    <br>


  <%end%>
  </div>
  </div>
  </fieldset>
  </div>

  <br><br>

  <div id = "vehicle_details">
  <fieldset>
   <h1 class = "display-7 lead"><b>VEHICLE DETAILS</b>(Only if you are a driver) </h1>
   <br>
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">


  <%=fields_for :vehicle_details do |vd|%>
  <%=vd.label :vehicle_name, class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
  <%=vd.text_field :vehicle_name ,  class: "form-control" %>
  <br>

  <%=vd.label :vehicle_type, class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
  <%vehicle_type_array = ["Bike" ,"Auto" ,  "Mini-Car" , "Sedan-Car" , "SUV-Car"]%>
  <%
=begin%>
 <%=vd.select :vehicle_type , vehicle_type_array , class: "form-control"%> 
<%
=end%>
  <%= vd.select :vehicle_type, options_for_select(vehicle_type_array), { :multiple => false, include_blank: 'Select'}, {class: "form-select shadow shadow-sm "}  %>
  <br>

  <%= vd.label :vehicle_no , "Vehicle No : ", class: "display-8 lead"%><span class = "red_star">*</span> 
  <%= vd.text_field :vehicle_no , class: "form-control" %>
  <br>


  <%=vd.label :no_of_seats, class: "display-8 lead"%> <span class = "red_star">*</span>  <br>
  <%=vd.number_field :no_of_seats ,  class: "form-control" %>
  <br>

  <%end%>
  </div></div>
  </fieldset>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= f.submit "Sign up" , class: "btn btn-primary"%>
  </div>

  <br>
  <br>

<% end %>

<%
=begin%>
 <%= render "devise/shared/links" %> 
<%
=end%>

</div>



<%= javascript_include_tag 'sign_up' %>