<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">


    <p>&nbsp &nbsp &nbsp</p>

    

  <%if user_signed_in?%>
    <%if current_user.rider?%>
      <a class = "navbar-brand" href = "/riders/dashboard"><b>Kapido</b></a>
    <%else%>
      <a class = "navbar-brand" href = "/drivers/dashboard"><b>Kapido</b></a> 
    <%end%>

  <%else%>
    
    <a class="navbar-brand" href="/"><b>Kapido</b></a>
  <%end%>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%if user_signed_in?%>
        <%if  current_user.driver?%>
          <%= link_to "Dashboard", driver_dash_path , class: "nav-link " %>
        <%else%>
          <%= link_to "Dashboard", rider_dash_path , class: "nav-link" %>
        <%end%>
      <%else%>
         <li> <%= link_to "Login",  new_user_session_path , class: "nav-link"%> </li>
        <li> <%= link_to "Signup", new_user_registration_path , class: "nav-link" %> </li>
      <%end%>
      </li>

      <li class = "nav-item active">
        <% if user_signed_in? %>
            <% if current_user.rider? %>
                <%= link_to "Book ride", new_booking_request_path , class: "nav-link" %>
            <% else %>
                <%= link_to "Available Rides", available_ride_path , class: "nav-link" %>
            <% end %>
        <% end %>
      </li>

      <%if user_signed_in? and current_user.driver?%>
         
        <li class = "nav-item active">
          <%= link_to "Change city", edit_standby_city_path , class: "nav-link"%>
        </li>
        <li class = "nav-item active">
          <%= link_to "Add Vehicle", new_vehicle_path , class: "nav-link" %>
        </li>
        <li class = "nav-item active">
          <%= link_to "Change Primary Vehicle", change_primary_vehicle_path , class: "nav-link" %>
        </li>
      <% end %>
    
    <% if user_signed_in? %>
      <% if current_user.driver? %>
        <li class = "nav-item active">
          <%= link_to "View Profile", driver_path(id: current_user.userable.id) , class: "nav-link" %>  
        </li>
      <% else %>
        <li class = "nav-item active">
        <%= link_to "View Profile", rider_path(id: current_user.userable.id) , class: "nav-link" %>  
        </li>
      <% end %>
    <% end %>

    <% if user_signed_in? && current_user.userable.current_ride_id %>
        <li class = "nav-item active">
        <%= link_to "Current Ride", riding_path(id: current_user.userable.current_ride_id ) , class: "nav-link" %>  
        </li>

    <% end %>
    

      <%if user_signed_in? && current_user.driver? %>

        <div style = "display:inline ; margin-left : 400px"> 
        <%= link_to "Signout", destroy_user_session_path ,data: { turbo_method: :delete , turbo_confirm: "Are you sure to sign out ? " }  , class: "nav-link"%>
        </div>


        <div style = "display:inline">

          <li class="nav-item">
          <a class="nav-link disabled">Your Ride , Your Right</a>
        </li>
        </div>

      <% elsif user_signed_in? && current_user.rider? %>

      <div style = "display:inline ; margin-left : 800px"> 
      <%= link_to "Signout", destroy_user_session_path ,data: { turbo_method: :delete , turbo_confirm: "Are you sure to sign out ? " }  , class: "nav-link"%>
      </div>


      <div style = "display:inline">

        <li class="nav-item">
        <a class="nav-link disabled">Your Ride , Your Right</a>
      </li>
      </div>

      <% else %>

      <div style = "display:inline ; margin-left: 1250px">

      <li class="nav-item">
      <a class="nav-link disabled">Your Ride , Your Right</a>
    </li>
    </div>
      

      <%end%>


      

     

      
     
    </ul>
    <%2
=begin%>
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
<%
=end%>
  </div>
</nav>