<h1>Bills#new</h1>
<p>Find me in app/views/bills/new.html.erb</p>
<fieldset>
<legend><b>New Payment</b></legend>
<%= form_for @bill , action: :create do |f|%>

    <%=f.label :bill_amount , "Enter the amount"%>
    <%=f.number_field :bill_amount%>

    <%= f.hidden_field :ride_id , value: @rideId %>
    

    <br>

    

    <%=f.submit "Submit"%>
</fieldset>
    
<%end%>