<div style = "float:right ; margin-right : 300px">
<h2>Bill for your ride</h2>
<br>

<fieldset>
<legend><b>Billing Details</b></legend>
<%= form_for @bill , action: :create do |f|%>

    <%=f.label :bill_amount , "Amount for ride : "%>
    <%=f.number_field :bill_amount , class: "form-control" , required: true%>

    <%= f.hidden_field :ride_id , value: @rideId %>
    

    <br>

    

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>