<div style = "float:left;width:10px;height:10px;margin-left:30px">
  <img src = "<%=image_path('new_bill.jpg')%>" width=950 height=650px style = "position:absolute;">
</div> 


<div style = "float:right ; margin-right : 300px ; margin-top: 200px">
<h2></h2>
<br>

<fieldset>
<h1 class = "display-6 lead"> BILLING DETAILS </h1>
<br>

<div class="card shadow shadow-md" style="width: 18rem;">
  <div class="card-body">
<%= form_for @bill , action: :create do |f|%>

    <%=f.label :bill_amount , "AMOUNT: " , class: "display-8 lead"%>
    <%=f.number_field :bill_amount , class: "form-control" , required: true%>

    <%= f.hidden_field :ride_id , value: @rideId %>
    

    <br>
  </div>
</div>

<br>

    

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>