<div style = "float:right ; margin-right:300px">
<h1> Make your payment</h1>


<fieldset>
<legend><b> Payment Details</b></legend>

<%= form_for @payment , action: :create do |f|%>

    <%=f.label :amount , "Amount : "%>
    <%=f.number_field :amount , value: @bill.bill_amount , class: "form-control" , readonly: true%>

    <br>

    <%=f.label :mode_of_payment , "Mode of payment : "%>
    <%=f.text_field :mode_of_payment , class: "form-control" , required: true %>

    <br>

    <%=f.label :credentials , "Credentials : "%>
    <%=f.text_field :credentials , class: "form-control" , required: true%>

    <br>

    <%=f.label :remarks , "Remarks : "%>
    <%=f.text_field :remarks , class: "form-control"%>

    <br>

    <%=f.hidden_field :rider_id , value: @ride.rider_id%>
    <%=f.hidden_field :driver_id , value: @ride.driver_id%>
    <%=f.hidden_field :bill_no , value: @bill.id%>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>