<div style = "float:left;width:10px;height:10px;margin-left:150px">
  <img src = "<%=image_path('payment_new.avif')%>"  height=700px style = "position:fixed;">
</div> 




<div style = "float:right ; margin-right:200px ; margin-top : 70px">



<fieldset>
<h1 class = "display-6 lead"> </b> PAYMENT DETAILS  </b> </h1>
<br>

<div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">

<%= form_for @payment , action: :create do |f|%>

    <%=f.label :amount , "Amount : " , class: "display-8 lead"%>
    <%=f.number_field :amount , value: @bill.bill_amount , class: "form-control" , readonly: true%>

    <br>

    <%=f.label :mode_of_payment , "Mode of payment : " , class: "display-8 lead"%>
    <%=f.text_field :mode_of_payment , class: "form-control" , required: true %>

    <br>

    <%=f.label :credentials , "Credentials : " , class: "display-8 lead"%>
    <%=f.text_field :credentials , class: "form-control" , required: true%>

    <br>

    <%=f.label :remarks , "Remarks : " , class: "display-8 lead"%>
    <%=f.text_field :remarks , class: "form-control"%>

    <br>

    <%=f.hidden_field :rider_id , value: @ride.rider_id%>
    <%=f.hidden_field :driver_id , value: @ride.driver_id%>
    <%=f.hidden_field :bill_no , value: @bill.id%>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
    </div>
    </div>
</fieldset>
    
<%end%>
</div>