
<div style = "float:left;width:10px;height:10px;margin-left:30px">
  <img src = "<%=image_path('payment_done.jpg')%>"  height=650px style = "position:absolute;">
</div> 





<%if current_user.rider?%>
<div style = "float:right ; margin-right:300px ; margin-top:120px">

<div class="card shadow shadow-md" style="width: 25rem;">
  <div class="card-body">
<h2 class = "display-6  lead"> PAYMENT SENT</h2>
<h2 class = "display-7 lead">TO THE DRIVER SUCCESSFULLY </h2>
</div> </div>
<br>
<fieldset>


<div class="card shadow shadow-md" style="width: 27rem;">
  <div class="card-body">

<h1 class = "display-6 lead">RATING FOR DRIVER</h1>
<%= form_for @driver , url: "/drivers/rating_change" do |f|%>
    <p class = "display-7 lead">YOUR RATING PLEASE ? </p>
   


    <%=f.label :driver_rating , "Rating : " , class: "display-8 lead" %>
    <%rating_array = [1,2,3,4,5]%>
    <%=f.select :driver_rating , rating_array , class: "form-control" , required: true%>


   <%= f.hidden_field :id , value: @paymentId %>
    <br>
   <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
    </div></div>
</fieldset>

    <br> <br>
    <p class = "display-9 lead"> <b> Else move to your dasboard  </b> &nbsp <%= link_to "Dashboard", rider_dash_path , class: "btn btn-primary btn-sm" %>
    
<%end%>
</div>
<%else%>



<div style = "float : right ; margin-right : 300px ; margin-top: 150px">

<div class="card shadow shadow-md" style="width: 27rem;">
  <div class="card-body">
<h2 class = "display-6 lead">PAYMENT RECIEVED</h2>
<h3 class = "display-7 lead">FROM THE RIDER SUCCESSFULLY</h3>
</div> </div>
<br><br>
<%= link_to "Dashboard", driver_dash_path , class: "btn btn-primary btn-small"%>
</div>


<%end%>