<%if current_user.rider?%>
<div style = "float:right ; margin-right:300px">
<h2> Payment Sent Successfully</h2>
<br>
<fieldset>
<legend><b>Rating for driver</b></legend>
<%= form_for @driver , url: "/drivers/rating_change" do |f|%>
    <p> <b> Enter your rating :  </b></p>
   


    <%=f.label :driver_rating , "Rating : "%>
    <%rating_array = [1,2,3,4,5]%>
    <%=f.select :driver_rating , rating_array , class: "form-control" , required: true%>


   <%= f.hidden_field :id , value: @paymentId %>
    <br>
   <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>

    <br> <br>
    <p> <b> Else move to your dasboard </b> <%= link_to "Dashboard", rider_dash_path , class: "btn btn-primary btn-sm" %>
    
<%end%>
</div>
<%else%>
<div style = "float : right ; margin-right : 300px">
<h2>Payment Recieved Successfully</h2>
<h3>From the rider !!</h3>
<br><br>
<%= link_to "Dashboard", driver_dash_path , class: "btn btn-primary btn-small"%>
</div>
<%end%>