<div class = "container-fluid">

    <h2> Basic Details </h2>

    <br> 
    <h6>Name : <%= current_user.name %></h6>
    <h6>Email :  <%= current_user.email %></h6>
    <h6>Age:  <%= current_user.age %></h6>
    <h6>Mobile Number :  <%= current_user.mobile_no %></h6>
    <h6>Role : <%= current_user.role %></h6>


    <h2> Address Details </h2>
    <br>

    <h6>Door No : <%= current_user.door_no %></h6>
    <h6>Street : <%= current_user.street %> </h6>
    <h6>City :  <%= current_user.city %></h6>
    <h6>District :  <%= current_user.district %></h6>
    <h6>State :  <%= current_user.state %></h6>
    <h6>Pincode : <%= current_user.pincode %> </h6>


    <h2> Proofs </h2>
    <h6> Aadhar Number : <%= @rider.aadhar_no %></h6>
    <h6> Aadhar Picture : </h6>

    <% if @rider.aadhar_card_image.attached? %>
        <div class = "container-sm">
        <%= image_tag @rider.aadhar_card_image %>    
        </div>
    <% else %>
        <p> No aadhar card image was attached with this profile </p>
    <% end%>
    
</div>