
<div style = "float:left;width:10px;height:10px;">
  <img src = "<%=image_path('rider_show.avif')%>"  height=650px style = "position:fixed;">
</div> 








<div style = "float:right" >



    <fieldset> 
   <h1 class = "display-6 lead">  <b> BASIC DETAILS </b>  </h1>

    

    <br> 
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
    <h6 class = "lead">  <b> NAME : </b> <%= current_user.name %></h6>
    <h6 class = "lead" > <b> EMAIL :  </b> <%= current_user.email %></h6>
    <h6 class = "lead"> <b> AGE : </b> <%= current_user.age %></h6>
    <h6 class = "lead" > <b> MOBILE NUMBER :  </b> <%= current_user.mobile_no %></h6>
    <h6 class = "lead"><b> ROLE: </b> <%= current_user.role %></h6>

    </div>
    </div>
    </fieldset>

    <br> <br>

    <h1 class = "display-6 lead"> <b> ADDRESS </b> </h1>
    <br>

     <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">

    <h6 class = "lead"><b> DOOR NO :   <%= current_user.door_no %></h6>
    <h6 class = "lead" ><b> STREET :  </b><%= current_user.street %> </h6>
    <h6 class = "lead"><b> CITY :   </b><%= current_user.city %></h6>
    <h6 class = "lead"><b> DISTRICT :   </b><%= current_user.district %></h6>
    <h6 class = "lead"><b> STATE :  </b><%= current_user.state %></h6>
    <h6 class = "lead"><b> PINCODE : </b><%= current_user.pincode %> </h6>

    </div>
    </div>

    </fieldset>
    <br> <br>


    <fieldset>
    <h1 class = "display-6 lead"> <b> PROOFS </b> </h1>
    <br>
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
    <h6 class = "lead"> <b>Aadhar Number : <%= @rider.aadhar_no %></b></h6>
    <h6 class = "lead" > <b>Aadhar Picture : </b></h6>
    </div></div>

    <br>

    <% if @rider.aadhar_card_image.attached? %>
        <div class = "container-sm">
        <%= image_tag @rider.aadhar_card_image , style: 'height:500px;width:900px;'%>    
        </div>
    <% else %>
        <p> No aadhar card image was attached with this profile </p>
    <% end%>

    </fieldset>
    
</div>