<div style = "float:left;width:10px;height:10px;margin-left:30px">
  <img src = "<%=image_path('available_rides_1.jpg')%>" width=950px height=700px style = "position:fixed;">
</div> 

















<div style = "float:right ; margin-right : 220px">


<div style = "display : flex ; flex-direction : column">



<% if current_user.userable.riding_status == "on_ride"%>
    <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
    <h2 class = "display-6 lead" > YOU ARE ON RIDE </h2>
    <h2>  </h2>
    </div> </div>
<% else %>
<%unless @available.size == 0%>
    <h2 class = "display-6 lead" >THE RIDES FOR YOU </h2>
    <br><br>

    <%@available.each do |i|%>
        
            <div class="card bg-light mb-3 shadow shadow-md" style="max-width: 18rem;">
  <div class="card-header" style = "text-align:center"> <p class = "display-6 lead"> Ride <%=@available.find_index(i)+1%>  </p> </div>
  <div class="card-body">
    <h6 class="card-title"> <p class = "display-7 lead" > <%="From : #{i.from_location_name}"%> </p> </h6>
    <h6 class="card-title"> <p class = "display-7 lead" > <%="To : #{i.to_location_name}"%> </p> </h6>
    <% @rider = User.find_by(userable_id: i.rider_id) %>
    <h6 class = "card-title"> <p class = "display-7 lead" > <%="Rider Name : #{@rider.name}"%> </p> </h6>
     <h6 class = "card-title"> <p class = "display-7 lead" > <%= "Rider Age : #{@rider.age}" %> </p> </h6>
      <h6 class = "card-title"> <p class = "display-7 lead" > <%= "Rider Mobile : #{@rider.mobile_no}" %> </p> </h6>
    
    <%= link_to "Accept this ride", new_ride_path(id: i.id) , class: "btn btn-primary btn-sm" %>
  </div>
</div>
           
        
    <%end%>
</div>

<%else%>
 <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">
  <h2 class = "display-6 lead" > NO RIDES </h2>
  <h4 class = "display-6 lead" > AVAILABLE RIGHT NOW !</h4>
  </div>
  </div>
<%end%>

<% end %>

</div>