<div style = "float:left;width:10px;height:10px;">
  <img src = "<%=image_path('driver-dash.jpg')%>" width=950px height=700px style = "position:fixed;">
</div> 







<div style = "float:right ; margin-right:220px ; margin-top: 150px">
<h1 class = "display-5 lead"> DRIVER DASHBOARD </h1>
<br>


<h3 class = "display-6 lead" >  View your analytics here  </h3>
<br>

<% unless current_user.userable.standby_city%>
    <h1> Enter your standby location </h1>
    <%= link_to "Set Standing Location", edit_standby_city_path , class: "btn btn-primary btn-sm"%>
    <br> <br>
<%end%>

<% unless current_user.userable.primary_vehicle_id %>
  <h1> Set your primary vehicle first </h1>
  <%= link_to "Set Primary Vehicle", change_primary_vehicle_path , class: "btn btn-primary btn-sm"%>
  <br><br>
<% end %>

<% unless current_user.userable.riding_status %>
    <% current_user.userable.update(riding_status: "off_ride") %>
  
<% end %>
<div style = "display : flex ; justify-content : space-around;">
    
    <div class="card bg-light mb-3 shadow shadow-md" style="max-width: 10rem;">
  <div class="card-header"> <p class = "display-7 lead"> <b>Total Rides</b> </p> </div>
  <div class="card-body">
    <h5 class="card-title"><p class = "display-6 lead"> <b> <%= @rides.length %> </b> </p> </h5>
    <%
=begin%>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
<%
=end%>
<%= link_to "View your rides", rides_path , class: "display-7 lead btn btn-primary btn-sm"%>
  </div>
  
</div>



<div class="card bg-light mb-3 shadow shadow-md" style="max-width: 25rem;margin-left:30px">
  <div class="card-header"> <p class = "display-7 lead"> <b>Total Earnings</b> </p> </div>
  <div class="card-body">
    <h5 class="card-title"> <p class = "display-6 lead"><b> <%= @earnings %> </b> </p> </h5>
    <%
=begin%>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
<%
=end%>
  </div>
</div>


<div class="card bg-light mb-3 shadow shadow-md" style="max-width: 25rem; margin-left : 30px">
  <div class="card-header"><p class = "display-7 lead"><b>Driver Rating</b></p></div>
  <div class="card-body">
    <h5 class="card-title"><p class = "display-6 lead"><b><%= @rating.round(2) %></b></p></h5>
    <%
=begin%>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
<%
=end%>
  </div>
</div>




    
</div>

<br><br>
</div>



