
<div style = "float:left;width:10px;height:10px;margin-left:300px">
  <img src = "<%=image_path('standing_city.jpg')%>"  height=600px style = "position:absolute;">
</div> 


















<div style = "float:right ; margin-right:500px ; margin-top: 200px">
<h1> Standing City </h1>

<fieldset>
<legend><b></b></legend>
<%= form_for @driver , action: :update do |f|%>

    <b><%=f.label :standby_city , "City : "%></b>
    <%=f.text_field :standby_city , class: "form-control" , required: true%>

    <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
</fieldset>
    
<%end%>
</div>