
<div style = "float:left;width:10px;height:10px;margin-left:300px">
  <img src = "<%=image_path('standing_city.jpg')%>"  height=600px style = "position:absolute;">
</div> 


















<div style = "float:right ; margin-right:300px ; margin-top: 200px">
<h1 class = "display-6 lead" >STANDING CITY</h1>

<fieldset>
<legend><b></b></legend>
<%= form_for @driver , action: :update do |f|%>

 <div class="card shadow shadow-md" style="width: 30rem;">
  <div class="card-body">

    <b><%=f.label :standby_city , "CITY : " , class: "h6 display-8 lead " %></b>
    <%=f.text_field :standby_city , class: "form-control" , required: true%>

    <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-sm"%>
    </div>
    </div>

</fieldset>
    
<%end%>
</div>