<div style = "float:right ; margin-right: 300px">


<fieldset>
<legend><b>Vehicle Details</b></legend>
<%= form_for @vehicle , action: :create do |f|%>

    <%=f.label :vehicle_name , "Vehicle Name :  "%>
    <%=f.text_field :vehicle_name , class: "form-control form-control-sm" , required: true  %>

    <br>

    <%=f.label :vehicle_type , "Vehicle Type: "%>
    <br>
    <%vehicle_type_array = ["Bike" ,"Auto" ,  "Mini-Car" , "Sedan-Car" , "SUV-Car"]%>
    <%=f.select :vehicle_type , vehicle_type_array , class: "form-control" , required: true%>
    <br>

    <br>

    <%=f.label :no_of_seats , "No of seats : "%>
    <%=f.number_field :no_of_seats , class: "form-control" , required: true%>

    <br>

    <%=f.label :vehicle_no , "Vehicle Number : "%>
    <%=f.text_field :vehicle_no , class: "form-control" , required: true%>

    <br>

    <%=f.submit "Submit" , class: "btn btn-primary btn-small"%>
</fieldset>
    
<%end%>
</div>