
<div style = "float:left;width:10px;height:10px;margin-left:30px">
  <img src = "<%=image_path('riding.jpg')%>" width=950 height=650px style = "position:absolute;">
</div> 




<div style = "float:right ; margin-right:250px ; margin-top:80px">
<h1 class = "display-6 lead" > HOORAY !! </h1>
<h1 class = "display-6 lead"> YOU ARE ON RIDE NOW </h3>
<br> <br>

<% if current_user.driver?%>
    <!--Driver Riding Page-->

    <div class="card shadow shadow-md" style="width: 25rem;text-align:center;">
  <div class="card-body">
    <h5 class="card-title" style = "text-align:center"><p class = "display-7 lead"> <b> RIDER DETAILS </b> </p> </h5>
    <%
=begin%>
 <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> 
<%
=end%>
    <p class="card-text display-8 lead"> <b> NAME : </b> <%= @rider.name%> </p>
    <p class="card-text display-8 lead"> <b> AGE : </b> <%= @rider.age%> </p>
    <p class="card-text display-8 lead"> <b> MOBILE NUMBER : </b> <%= @rider.mobile_no%> </p>
 

   
  </div>
</div>
  <br> <br>
   <p class="card-text display-8 lead"> <b> Reached the destintion ? </b></p>
    
     <%= link_to "End Ride", new_bill_path(rideId: @rideId)  , class: "btn btn-primary btn-sm" %>
    
   
    
<%else%>
    <!--Rider Riding Page-->


   <div class="card shadow shadow-md" style="width: 25rem;text-align:center;">
  <div class="card-body">
    <h5 class="card-title" style = "text-align:center"><p class = "display-7 lead"> <b>DRIVER DETAILS </b> </p> </h5>
    <%
=begin%>
 <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> 
<%
=end%>
    <p class="card-text display-8 lead"> <b> NAME : </b> <%= @driver.name%> </p>
    <p class="card-text display-8 lead"> <b> AGE : </b> <%= @driver.age%> </p>
    <p class="card-text display-8 lead"> <b> MOBILE NUMBER : </b> <%= @driver.mobile_no%> </p>
 

   
  </div>
</div>


   
    
<%end%>
</div>